In [83]:
# Dependencies
import pandas as pd

In [84]:
# Reference the files where the CSV is located

PyCitySchools_csvpath = "Resources/schools_complete.csv"

PyCityStudents_csvpath = "Resources/students_complete.csv"


# Import the data into a Pandas DataFrame

PyCitySchools_df = pd.read_csv(PyCitySchools_csvpath)

PyCitySchools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [85]:
# Import the data into a Pandas DataFrame

PyCityStudents_df = pd.read_csv(PyCityStudents_csvpath)

PyCityStudents_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [86]:
# Create DataFrame for merging

PyCitySchools_pd = pd.read_csv(PyCitySchools_csvpath)

PyCitySchools_pd.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [87]:
# Create DataFrame for merging

PyCityStudents_pd = pd.read_csv(PyCityStudents_csvpath)


PyCityStudents_pd.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [88]:
# Merge PyCitySchools and PyCityStudents dataframes


PyCity_data  = pd.merge(PyCitySchools_pd, PyCityStudents_pd, on="school_name", how="left")

PyCity_data.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [113]:
# Create a high level snapshot table of the DISTRICT's key metrics

# Set new index to Type
df = PyCity_data.set_index("type")
df.head()

,School ID,school_name,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
type,,,,,,,,,,
District,0,Huang High School,2917,1910635,0,Paul Bradley,M,9th,66,79
District,0,Huang High School,2917,1910635,1,Victor Smith,M,12th,94,61
District,0,Huang High School,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
District,0,Huang High School,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
District,0,Huang High School,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [124]:
# District data for calculations

District_data = df.loc["District"]

District_data.head()

# Calculate total number of schools

schools_total = len(District_data["school_name"].unique())

schools_total



# Calculate total number of students

students_total = len(District_data["Student ID"].unique())

students_total

# Calculate the average math score

math_average = District_data["math_score"].mean()

math_average

# Calculate the average reading score

reading_average = District_data["reading_score"].mean()

math_average

# Calculate overall average score for reading and math

total_average = 

# Calculate total budget
#budget_total = (District_data["budget"]
#budget_total





#students_total = District_data("student_name").count()


                    
#author_count = len(goodreads_df["Authors"].unique())



                           


                           






#only_billys = df.loc[df["first_name"] == "Billy", :]
#print(only_billys)

# Calculate total number of schools



# Calculate total number of students

#students_total = PyCity_data["student_name"].count(Distict)
#students_total

76.98702550415184